<div>
  <table>
    <thead>
      <tr>
        <th colspan="3">{{localize "tsl.summaryPage.hoursOfOperation"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3">
          <div class="tsl-gauge">
            <div class="tsl-current-value">
              <a><i class="fas fa-minus hours-change" data-operation="dec"></i></a>
              <input style="width:75px" name="data.vehicle.hoursOfOperation.value" type="number" data-dtype="Number" value="{{data.vehicle.hoursOfOperation.value}}" onfocus="this.select()"/>
              <a><i class="fas fa-plus hours-change" data-operation="inc"></i></a>
            </div>
            <div class="gauge" style="width:140px">
              <span class="dial"></span>
              {{#times 10}}
                <span class="tick tick-fuel"></span>
              {{/times}}
              <img
                src="modules/tsl-module/img/fuel.svg"
                class="fuel-light {{fuelClass data.vehicle.hoursOfOperation}}"
              />
              <span
                style="transform:rotate({{angle "fuel" data.vehicle.hoursOfOperation}}deg)"
                class="needle"
              ></span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>{{localize "tsl.summaryPage.base"}}</th>
        <th>{{localize "tsl.summaryPage.ld"}}</th>
        <th>{{localize "tsl.summaryPage.temp"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{data.vehicle.hoursOfOperation.base}}</td>
        <td>{{data.vehicle.hoursOfOperation.ldPen}}</td>
        <td><input style="width:40px" name="data.vehicle.hoursOfOperation.temp" type="number" data-dtype="Number" value="{{data.vehicle.hoursOfOperation.temp}}"/></td>
      </tr>
      <tr>
        <td colspan="3">
          <b>{{localize "tsl.summaryPage.fuelCap"}}:&nbsp;</b>
          {{localnum data.vehicle.fuelCapacity.max}}
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="2">{{localize "tsl.summaryPage.rammingDamage"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">
          <div class="tsl-ramming-damage">
            <span>{{localnum data.vehicle.rammingDamage.total}}</span>
            <a><i class="fas fa-car-crash ram-attack"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>{{localize "tsl.summaryPage.base"}}</th>
        <th>{{localize "tsl.summaryPage.temp"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{localnum data.vehicle.rammingDamage.base}}&nbsp;&plus;&nbsp;{{data.vehicle.modifications.values.rammingDamage}}
        </td>
        <td>
          <input style="width:40px" name="data.vehicle.rammingDamage.temp" type="number" data-dtype="Number" value="{{data.vehicle.rammingDamage.temp}}"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>