<div class="tsl-mod-totals">
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.engineIR"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.transmissionIR"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.chassisIR"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.suspensionIR"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.ho"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.re"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.br"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.topSpeed"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.torque"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.xlr8"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.stopping"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.turning"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.load"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.hitPoints"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Armor {{localize "tsl.modificationsPage.ac"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.armor"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.rammingDamage"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.hoursOfOperation"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.fuelCapacity"}}:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>{{localize "tsl.modificationsPage.weight"}}:</h3>
    <h3>0&nbsp;lbs</h3>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>MODIFICATIONS LIST</th>
    </tr>
  </thead>
</table>
<div class="tsl-mod-list">
  stuff
</div>