<div>
  <table>
    <thead>
      <tr>
        <th>{{localize "tsl.summaryPage.currentSpeed"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="tsl-gauge">
            <div class="tsl-current-value">
              <a><i class="fas fa-minus"></i></a>
              <input style="width:75px" name="data.vehicle.speed.current" type="number" data-dtype="Number" value="{{data.vehicle.speed.current}}" onfocus="this.select()"/>
              <a><i class="fas fa-plus"></i></a>
            </div>
            <div class="gauge" style="width:140px">
              <span class="dial band"></span>
              {{#times 24}}
                <span class="tick tick-speedo"></span>
              {{/times}}
              <span
                {{!-- TODO style="transform:rotate({{speedAngle _}}deg)" :: -88deg to 88deg range. calc with -88 + (% of max * 176). --}}
                class="needle
                  {{#if (cond ">" data.vehicle.speed.current data.vehicle.speed.max)}}
                    pushed
                  {{/if}}"
              ></span>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tsl-speed-conversion">
            <span>MPH</span>
            <span>{{convert "mph" data.vehicle.speed.current}}</span>
            <span>/</span>
            <span>{{convert "mph" data.vehicle.speed.max}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tsl-speed-conversion">
            <span>KPH</span>
            <span>{{convert "kph" data.vehicle.speed.current}}</span>
            <span>/</span>
            <span>{{convert "kph" data.vehicle.speed.max}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tsl-speed-conversion">
            <span>SPR</span>
            <span>{{convert "spr" data.vehicle.speed.current}}</span>
            <span>/</span>
            <span>{{convert "spr" data.vehicle.speed.max}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="tsl-defenses">
    <thead>
      <tr>
        <th colspan="2">{{localize "tsl.summaryPage.hitPoints"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="tsl-hp">
            <input name="data.vehicle.hp.value" type="number" data-dtype="Number" value="{{data.vehicle.hp.value}}" onfocus="this.select()"/>
            <span>/</span>
            <span>{{data.vehicle.hp.max}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tsl-ac-armor">
            <span><b>AC</b></span>
            <span>{{data.vehicle.ac.total}}</span>
            <span><b>HD</b></span>
            <span>{{data.vehicle.components.body.armor.total}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>{{localize "tsl.summaryPage.curbWeight"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="font-size:1.25em">{{data.vehicle.weight.curb}}</td>
      </tr>
    </tbody>
  </table>
</div>