{{#each data.vehicle.components as |value key|}}
  <table>
    <thead>
      <tr>
        <th colspan="4">{{localize (concat "tsl.components." (concat key ".label"))}}</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th colspan="2">{{localize "tsl.componentsPage.total"}}</th>
        <th>{{localize "tsl.componentsPage.base"}}</th>
        {{#unless (eq key "transmission")}}
          <th>{{localize "tsl.componentsPage.mods"}}</th>
        {{else}}
          <th>{{localize "tsl.componentsPage.fluid"}}</th>
        {{/unless}}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="width:85px">{{localize (concat "tsl.components." (concat key ".stat"))}}</th>
        <td style="font-size:1.25em">
          <b>
            {{#unless (eq key "transmission")}}
              {{value.stat.total}}
            {{else}}
              {{po value.stat}}
            {{/unless}}
          </b>
        </td>
        <td>
          <input style="width:50px" name="data.vehicle.components.{{key}}.stat.base" type="number" data-dtype="Number" value="{{value.stat.base}}"/>
        </td>
        <td>
          {{#unless (eq key "transmission")}}
            <input style="width:50px" name="data.vehicle.components.{{key}}.stat.mods" type="number" data-dtype="Number" value="{{value.stat.mods}}"/>
          {{else}}
            <input
              style="width:50px"
              name="data.vehicle.components.{{key}}.stat.fluid"
              type="number"
              data-dtype="Number"
              value="{{value.stat.fluid}}"
              {{#unless (cond "||" (eq value.primary "spectrum") (eq value.primary "torqueConverter"))}}
                disabled="true"
              {{/unless}}
            />
          {{/unless}}
        </td>
      </tr>
    </tbody>
    {{#if (eq key "body")}}
      <thead>
        <tr>
          <th colspan="2">{{localize "tsl.components.body.hp"}}</th>
          <th colspan="2">{{localize "tsl.components.body.armor"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">
            <div class="body-stats-container">
              <div class="body-stats">
                <span style="font-size:1.25em">
                  <b>{{value.hp.total}}</b>
                </span>
                <span>&equals;</span>
                <span>
                  <input style="width:50px" name="data.vehicle.components.{{key}}.hp.base" type="number" data-dtype="Number" value="{{value.hp.base}}"/>
                </span>
                <span>
                  <input style="width:50px" name="data.vehicle.components.{{key}}.hp.mods" type="number" data-dtype="Number" value="{{value.hp.mods}}"/>
                </span>
              </div>
              <div class="body-stats">
                <span style="font-size:1.25em">
                  <b>{{value.armor.total}}</b>
                </span>
                <span>&equals;</span>
                <span>
                  <input style="width:50px" name="data.vehicle.components.{{key}}.armor.base" type="number" data-dtype="Number" value="{{value.armor.base}}"/>
                </span>
                <span>
                  <input style="width:50px" name="data.vehicle.components.{{key}}.armor.mods" type="number" data-dtype="Number" value="{{value.armor.mods}}"/>
                </span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    {{else}}
      <thead>
        <tr>
          <th></th>
          <th>{{localize "tsl.componentsPage.total"}}</th>
          <th>{{localize "tsl.componentsPage.base"}}</th>
          <th>{{localize "tsl.componentsPage.resist"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "tsl.componentsPage.integrity"}}</th>
          <td style="font-size:1.25em"><b>{{value.integrity.total}}</b></td>
          <td>
            <input style="width:50px" name="data.vehicle.components.{{key}}.integrity.base" type="number" data-dtype="Number" value="{{value.integrity.base}}"/>
          </td>
          <td>
            <input style="width:50px" name="data.vehicle.components.{{key}}.integrity.resist" type="number" data-dtype="Number" value="{{value.integrity.resist}}"/>
          </td>
        </tr>
      </tbody>
    {{/if}}
    <thead>
      <tr>
        {{#unless (eq key "transmission")}}
          <th colspan="2">
            {{localize (concat "tsl.components." (concat key ".primary"))}}
          </th>
          <th colspan="2">
            {{localize (concat "tsl.components." (concat key ".secondary"))}}
          </th>
        {{else}}
          <th colspan="4">
            {{localize (concat "tsl.components." (concat key ".primary"))}}
          </th>
        {{/unless}}
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#if (eq key "engine")}}
          <td colspan="2">
            <select name="data.vehicle.components.{{key}}.primary">
              {{#select value.primary}}
                <option value="none">{{localize "tsl.primaries.label"}}</option>
                <option value="steam">{{localize "tsl.primaries.engine.steam"}}</option>
                <option value="guzzolene">{{localize "tsl.primaries.engine.guzzolene"}}</option>
                <option value="diesel">{{localize "tsl.primaries.engine.diesel"}}</option>
                <option value="arcanomotor">{{localize "tsl.primaries.engine.arcanomotor"}}</option>
                <option value="crystal">{{localize "tsl.primaries.engine.crystal"}}</option>
                <option value="elemental">{{localize "tsl.primaries.engine.elemental"}}</option>
                <option value="tourbillon">{{localize "tsl.primaries.engine.tourbillon"}}</option>
              {{/select}}
            </select>
          </td>
          <td colspan="2">
            <input style="width:150px" name="data.vehicle.components.{{key}}.secondary" type="text" value="{{value.secondary}}"/>
          </td>
        {{else if (eq key "transmission")}}
          <td colspan="4">
            <select name="data.vehicle.components.{{key}}.primary">
              {{#select value.primary}}
                <option value="none">{{localize "tsl.primaries.label"}}</option>
                <option value="manual">{{localize "tsl.primaries.transmission.manual"}}</option>
                <option value="sequential">{{localize "tsl.primaries.transmission.sequential"}}</option>
                <option value="horlogian">{{localize "tsl.primaries.transmission.horlogian"}}</option>
                <option value="spectrum">{{localize "tsl.primaries.transmission.spectrum"}}</option>
                <option value="torqueConverter">{{localize "tsl.primaries.transmission.torqueConverter"}}</option>
              {{/select}}
            </select>
          </td>
        {{else if (eq key "chassis")}}
          <td colspan="2">
            <select name="data.vehicle.components.{{key}}.primary">
              {{#select value.primary}}
                <option value="none">{{localize "tsl.primaries.label"}}</option>
                <option value="fwd">{{localize "tsl.primaries.chassis.fwd"}}</option>
                <option value="rwd">{{localize "tsl.primaries.chassis.rwd"}}</option>
                <option value="awd">{{localize "tsl.primaries.chassis.awd"}}</option>
              {{/select}}
            </select>
          </td>
          <td colspan="2">
            <select name="data.vehicle.components.{{key}}.secondary">
              {{#select value.secondary}}
                <option value="none">{{localize "tsl.secondaries.label"}}</option>
                <option value="wheels">{{localize "tsl.secondaries.chassis.wheels"}}</option>
                <option value="rail">{{localize "tsl.secondaries.chassis.rail"}}</option>
                <option value="pedrail">{{localize "tsl.secondaries.chassis.pedrail"}}</option>
                <option value="tracks">{{localize "tsl.secondaries.chassis.tracks"}}</option>
                <option value="screw">{{localize "tsl.secondaries.chassis.screw"}}</option>
              {{/select}}
            </select>
          </td>
        {{else if (eq key "suspension")}}
          <td colspan="2">
            <select name="data.vehicle.components.{{key}}.primary">
              {{#select value.primary}}
                <option value="none">{{localize "tsl.primaries.label"}}</option>
                <option value="dependent">{{localize "tsl.primaries.suspension.dependent"}}</option>
                <option value="mixed">{{localize "tsl.primaries.suspension.mixed"}}</option>
                <option value="independent">{{localize "tsl.primaries.suspension.independent"}}</option>
              {{/select}}
            </select>
          </td>
          <td colspan="2">
            <select name="data.vehicle.components.{{key}}.secondary">
              {{#select value.secondary}}
                <option value="none">{{localize "tsl.secondaries.label"}}</option>
                <option value="mechanical">{{localize "tsl.secondaries.suspension.mechanical"}}</option>
                <option value="hydraulic">{{localize "tsl.secondaries.suspension.hydraulic"}}</option>
                <option value="pneumatic">{{localize "tsl.secondaries.suspension.pneumatic"}}</option>
                <option value="magical">{{localize "tsl.secondaries.suspension.magical"}}</option>
              {{/select}}
            </select>
          </td>
        {{else if (eq key "body")}}
          <td colspan="2">
            <input style="width:140px" name="data.vehicle.components.{{key}}.primary" type="text" value="{{value.primary}}"/>
          </td>
          <td colspan="2">
            <input style="width:160px" name="data.vehicle.components.{{key}}.secondary" type="text" value="{{value.secondary}}"/>
          </td>
        {{/if}}
      </tr>
    </tbody>
  </table>
{{/each}}