<div style="text-align:center">
  <p>{{this.pilot}} attempts to push {{this.vehicle}}'s {{this.component}} past its limits!</p>
  <p>They must roll under <b>{{this.target}}</b> in order to succeed.</p>
  {{{this.render}}}
</div>