<form>
  <div class="form-group">
    <label>{{localize "tsl.chat.options.collision"}}</label>
    <select name="collision">
      <option value="still">{{localize "tsl.chat.options.still"}}</option>
      <option value="swipe">{{localize "tsl.chat.options.swipe"}}</option>
      <option value="tbone">{{localize "tsl.chat.options.tbone"}}</option>
      <option value="headOn">{{localize "tsl.chat.options.headOn"}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "tsl.chat.options.speedDiff"}}</label>
    <input type="number" data-dtype="Number" name="speedDiff" value="0"/>
  </div>
  <div class="form-group">
    <label>{{localize "tsl.chat.options.loadDiff"}}</label>
    <input type="number" data-dtype="Number" name="loadDiff" value="0"/>
  </div>
  <div class="form-group">
    <label>{{localize "tsl.chat.options.immovable"}}</label>
    <input type="checkbox" name="immovable"/>
  </div>
  <div class="form-group">
    <label>{{localize "tsl.chat.options.sizeDiff"}}</label>
    <input type="number" data-dtype="Number" name="sizeDiff" value="0"/>
  </div>
  <div class="form-group">
    <label>{{localize "tsl.chat.options.userTop"}}</label>
    <select name="userTop">
      <option value="open">{{localize "tsl.chat.options.open"}}</option>
      <option value="hard">{{localize "tsl.chat.options.hard"}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "tsl.chat.options.targetTop"}}</label>
    <select name="targetTop">
      <option value="none">{{localize "tsl.chat.options.none"}}</option>
      <option value="open">{{localize "tsl.chat.options.open"}}</option>
      <option value="hard">{{localize "tsl.chat.options.hard"}}</option>
    </select>
  </div>
</form>