<form class="{{cssClass}}" autocomplete="off">
  <div class="top-details">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <div class="basic-details">
      <input name="name" type="text" value="{{actor.name}}" onfocus="this.select()"/>
      <select name="data.vehicle.size">
        {{#select data.vehicle.size}}
          <option value="none">{{localize "tsl.labels.size"}}</option>
          <option value="fine">{{localize "tsl.sizes.fine"}}</option>
          <option value="diminutive">{{localize "tsl.sizes.diminutive"}}</option>
          <option value="tiny">{{localize "tsl.sizes.tiny"}}</option>
          <option value="small">{{localize "tsl.sizes.small"}}</option>
          <option value="medium">{{localize "tsl.sizes.medium"}}</option>
          <option value="large">{{localize "tsl.sizes.large"}}</option>
          <option value="huge">{{localize "tsl.sizes.huge"}}</option>
          <option value="gargantuan">{{localize "tsl.sizes.gargantuan"}}</option>
          <option value="colossal">{{localize "tsl.sizes.colossal"}}</option>
        {{/select}}
      </select>
      <select name="data.vehicle.type">
        {{#select data.vehicle.type}}
          <option value="none">{{localize "tsl.labels.type"}}</option>
          <option value="aerial">{{localize "tsl.vehicleTypes.aerial"}}</option>
          <option value="aquatic">{{localize "tsl.vehicleTypes.aquatic"}}</option>
          <option value="ground">{{localize "tsl.vehicleTypes.ground"}}</option>
        {{/select}}
      </select>
      <select name="data.vehicle.classification">
        {{#select data.vehicle.classification}}
          <option value="none">{{localize "tsl.labels.classification"}}</option>
          <option value="steamhorse">{{localize "tsl.classifications.steamhorse"}}</option>
          <option value="auto">{{localize "tsl.classifications.auto"}}</option>
          <option value="heavy">{{localize "tsl.classifications.heavy"}}</option>
        {{/select}}
      </select>
      <input name="data.vehicle.pilot" type="text" value="{{data.vehicle.pilot}}" placeholder="{{localize "tsl.summaryPage.pilot"}}" onfocus="this.select()"/>
    </div>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="tslv-tabs tabs" data-group="primary">
    <a class="item" data-tab="summary">{{localize "tsl.nav.summary"}}</a>
    <a class="item" data-tab="components">{{localize "tsl.nav.components"}}</a>
    <a class="item" data-tab="modifications">{{localize "tsl.nav.modifications"}}</a>
    <a class="item" data-tab="cargo">{{localize "tsl.nav.cargo"}}</a>
    <a class="item" data-tab="notes">{{localize "tsl.nav.notes"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="tslv-sheet-body">
    {{!-- Summary --}}
    <div class="tab" data-group="primary" data-tab="summary">
      {{> "modules/tsl-module/templates/partials/tsl-core-stats.hbs"}}
      <div class="tsl-picture-row">
        {{> "modules/tsl-module/templates/partials/tsl-summary-leftpane.hbs"}}
        <div style="background:blue"></div>
        {{> "modules/tsl-module/templates/partials/tsl-summary-rightpane.hbs"}}
      </div>
      <div class="tsl-final-row">
        <table>
          <thead>
            <tr>
              <th>{{localize "tsl.summaryPage.onboardWeapons"}}</th>
            </tr>
            <tr>
              <th>Stat Cell Headers Go Here</th>
            </tr>
          </thead>
          <tbody>
            {{!-- #IF engine is gasoline or diesel, add attacks here. /IF --}}
            {{!-- #EACH item of type weapon attached to vehicle. --}}
            <tr>
              <td>
                <input type="text"/>
              </td>
            </tr>
            {{!-- /EACH --}}
          </tbody>
        </table>
      </div>
    </div>

    {{!-- Components --}}
    <div class="tab" data-group="primary" data-tab="components">
      <div class="tsl-components-row">
        <table>
          <thead>
            <tr>
              <th colspan="4"># COMPONENT LABEL #</th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th colspan="2">{{localize "tsl.componentsPage.total"}}</th>
              <th>{{localize "tsl.componentsPage.base"}}</th>
              <th>{{localize "tsl.componentsPage.mods"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th style="width:85px"># STAT #</th>
              <td style="font-size:1.25em"><b>31,000,000</b></td>
              <td><input style="width:50px" type="number" data-dtype="Number"/></td>
              <td><input style="width:50px" type="number" data-dtype="Number"/></td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th></th>
              <th>{{localize "tsl.componentsPage.total"}}</th>
              <th>{{localize "tsl.componentsPage.base"}}</th>
              <th>{{localize "tsl.componentsPage.resist"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>{{localize "tsl.componentsPage.integrity"}}</th>
              <td style="font-size:1.25em"><b>10</b></td>
              <td><input style="width:50px" type="number" data-dtype="Number"/></td>
              <td><input style="width:50px" type="number" data-dtype="Number"/></td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th colspan="2"># PRIMARY #</th>
              <th colspan="2"># SECONDARY #</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2"><input style="width:50px" type="number" data-dtype="Number"/></td>
              <td colspan="2"><input style="width:50px" type="number" data-dtype="Number"/></td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>{{localize "tsl.componentsPage.notesLabel"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="height:171px">
                <textarea style="height:100%" name="" placeholder="{{localize "tsl.componentsPage.notesPlaceholder"}}"></textarea>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    {{!-- Modifications --}}
    <div class="tab" data-group="primary" data-tab="modifications">
      <p>Modifications</p>
    </div>

    {{!-- Cargo --}}
    <div class="tab" data-group="primary" data-tab="cargo">
      <p>Cargo</p>
    </div>

    {{!-- Notes --}}
    <div class="tab" data-group="primary" data-tab="notes">
      {{editor content=data.details.notes.value target="data.details.notes.value" button=true owner=owner editable=true}}
    </div>
  </section>
</form>