<form class="{{cssClass}}" autocomplete="off">
  <div class="top-details">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <div class="basic-details">
      <input name="name" type="text" value="{{actor.name}}" onfocus="this.select()"/>
      <select name="data.vehicle.base.size">
        {{#select data.vehicle.base.size}}
          <option value="none">{{localize "tsl.labels.size"}}</option>
          <option value="fine">{{localize "tsl.sizes.fine"}}</option>
          <option value="diminutive">{{localize "tsl.sizes.diminutive"}}</option>
          <option value="tiny">{{localize "tsl.sizes.tiny"}}</option>
          <option value="small">{{localize "tsl.sizes.small"}}</option>
          <option value="medium">{{localize "tsl.sizes.medium"}}</option>
          <option value="large">{{localize "tsl.sizes.large"}}</option>
          <option value="huge">{{localize "tsl.sizes.huge"}}</option>
          <option value="gargantuan">{{localize "tsl.sizes.gargantuan"}}</option>
          <option value="colossal">{{localize "tsl.sizes.colossal"}}</option>
        {{/select}}
      </select>
      <select name="data.vehicle.base.type">
        {{#select data.vehicle.base.type}}
          <option value="none">{{localize "tsl.labels.type"}}</option>
          <option value="aerial">{{localize "tsl.vehicleTypes.aerial"}}</option>
          <option value="aquatic">{{localize "tsl.vehicleTypes.aquatic"}}</option>
          <option value="ground">{{localize "tsl.vehicleTypes.ground"}}</option>
        {{/select}}
      </select>
      <select name="data.vehicle.base.classification">
        {{#select data.vehicle.base.classification}}
          <option value="none">{{localize "tsl.labels.classification"}}</option>
          <option value="steamhorse">{{localize "tsl.classifications.steamhorse"}}</option>
          <option value="auto">{{localize "tsl.classifications.auto"}}</option>
          <option value="heavy">{{localize "tsl.classifications.heavy"}}</option>
        {{/select}}
      </select>
      <input name="data.vehicle.base.pilot" type="text" value="{{data.vehicle.base.pilot}}" placeholder="{{localize "tsl.summaryPage.pilot"}}" onfocus="this.select()"/>
    </div>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="tslv-tabs tabs" data-group="primary">
    <a class="item" data-tab="summary">{{localize "tsl.nav.summary"}}</a>
    <a class="item" data-tab="components">{{localize "tsl.nav.components"}}</a>
    <a class="item" data-tab="modifications">{{localize "tsl.nav.modifications"}}</a>
    <a class="item" data-tab="cargo">{{localize "tsl.nav.cargo"}}</a>
    <a class="item" data-tab="notes">{{localize "tsl.nav.notes"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="tslv-sheet-body">
    {{!-- Summary --}}
    <div class="tab" data-group="primary" data-tab="summary">
      {{> "modules/tsl-module/templates/partials/tsl-core-stats.hbs"}}
      <div class="tsl-picture-row">
        {{> "modules/tsl-module/templates/partials/tsl-summary-leftpane.hbs"}}
        <img
          {{#if (cond "||" (eq data.vehicle.base.type "none") (eq data.vehicle.base.classification "none"))}}
            alt="No vehicle." src="modules/tsl-module/img/none.png"
          {{else}}
            alt="{{localize (concat "tsl.vehicleTypes." data.vehicle.base.type)}}&nbsp;{{localize (concat "tsl.classifications." data.vehicle.base.classification)}}"
            src="modules/tsl-module/img/{{data.vehicle.base.type}}-{{data.vehicle.base.classification}}.png"
          {{/if}}
        />
        {{> "modules/tsl-module/templates/partials/tsl-summary-rightpane.hbs"}}
      </div>
      <div class="tsl-final-row">
        <table>
          <thead>
            <tr>
              <th>{{localize "tsl.summaryPage.onboardWeapons"}}</th>
            </tr>
            <tr>
              <th>Stat Cell Headers Go Here</th>
            </tr>
          </thead>
          <tbody>
            {{!-- #IF engine is gasoline or diesel, add attacks here. /IF --}}
            {{!-- #EACH item of type weapon attached to vehicle. --}}
            <tr>
              <td>
                <input type="text"/>
              </td>
            </tr>
            {{!-- /EACH --}}
          </tbody>
        </table>
      </div>
    </div>

    {{!-- Components --}}
    <div class="tab" data-group="primary" data-tab="components">
      <div class="tsl-components-row">
        {{> "modules/tsl-module/templates/partials/tsl-components.hbs"}}
        <table>
          <thead>
            <tr>
              <th>{{localize "tsl.componentsPage.notesLabel"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="height:171px">
                <textarea style="height:100%" name="data.vehicle.notes.components" placeholder="{{localize "tsl.componentsPage.notesPlaceholder"}}">{{data.vehicle.notes.components}}</textarea>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    {{!-- Modifications --}}
    <div class="tab" data-group="primary" data-tab="modifications">
      <p>Modifications</p>
    </div>

    {{!-- Cargo --}}
    <div class="tab" data-group="primary" data-tab="cargo">
      <div class="tsl-cargo-totals">
        <div class="crew-weight">
          <h3><b>{{localize "tsl.cargoPage.crewWeight"}}:</b></h3>
          <input style="width:100px" name="data.vehicle.weight.crew" type="number" data-dtype="Number" value="{{data.vehicle.weight.crew}}"/>
          <h3>lbs</h3>
        </div>
        <div class="crew-weight">
          <h3><b>{{localize "tsl.cargoPage.cargoWeight"}}:</b></h3>
          <input style="width:100px" name="data.vehicle.weight.cargo" type="number" data-dtype="Number" value="{{data.vehicle.weight.cargo}}"/>
          <h3>lbs</h3>
        </div>
      </div>
      <textarea style="height:575px" name="data.vehicle.notes.cargo" placeholder="{{localize "tsl.cargoPage.notes"}}">{{data.vehicle.notes.cargo}}</textarea>
    </div>

    {{!-- Notes --}}
    <div class="tab" data-group="primary" data-tab="notes">
      {{editor content=data.vehicle.notes.character target="data.vehicle.notes.character" button=true owner=owner editable=true}}
    </div>
  </section>
</form>